body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff !important;
}

tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}
