.applydone {
  text-align: center;
  width: 820px;
  margin: auto;
}

.c-d-text-field {
  padding: 40px 0 40px 0;
}

.c-d-h-text {
  color: #354052;
  font-size: 26px;
}

.c-d-p-text {
  color: #7F8FA4;
  font-size: 16px;
}
