.header {
  display: flex;
  box-sizing: border-box;
  height: 70px;
  background-color: #ffffff;
  color: #354052;
  border-bottom: 1px solid #DFE2E5;
}

.header-info {
  display: flex;
  line-height: 50px;
  padding: 6px;
}

.header-info a {
  text-decoration: none;
}

.avatar {
  margin-left: 20px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.avatar img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.header-left-part {
  box-sizing: border-box;
  width: 100%;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-w {
  padding: 20px;
  line-height: 29px;
  width: 100%;
  border-right: 1px solid #DFE2E5;
}

.header-w-text {
  color: #7F8FA4;
  font-size: 16px;
}
