.res-i-block {
  padding-top: 20px;
}

.res-form p {
  /* width: 360px; */
}

.res-form img {
  display: block;
  margin: auto;
}

.res-f-text {
  color: #354052;
  font-size: 16px;
  text-align: center;
}

.r-f-text forgot a {
  text-decoration: none;
}
