.select {
  color: #354052;
  font-size: 14px;
  margin: 5px 10px 0 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  padding-left: 10px;
  height: 32px;
  border: 1px solid #DFE3E9;
}

.select:focus {
  outline: none;
}

.select-r {
  margin-top: 5px;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
  box-sizing: border-box;
  padding-left: 10px;
  height: 32px;
  border: 1px solid #DFE3E9;
}

.select-r:focus {
  outline: none;
}

.select-c {
  margin-top: 5px;
  width: 35%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
  box-sizing: border-box;
  padding-left: 10px;
  height: 32px;
  border: 1px solid #DFE3E9;
}

.select-c:focus {
  outline: none;
}

.select-p {
  color: #354052;
  font-size: 14px;
  margin: 5px 10px 0 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  padding-left: 10px;
  height: 32px;
  border: 1px solid #DFE3E9;
  width: 100%;
}

.datepicker {
  width: 60% !important;
}

.textarea {
  width: 100%;
  height: 175px;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DFE3E9;
  resize: none;
}

.textarea:focus {
  outline: none;
}

.textarea2 {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DFE3E9;
  resize: none;
  margin-bottom: 10px;
}

.textarea2:focus {
  outline: none;
}

.code-input {
  padding: 5px;
  border: 1px solid #DFE3E9;
  box-shadow: none;
  width: 100px;
  border-radius: 4px;
}

.code-input:focus {
  outline: none;
}

.name-input {
  padding: 5px;
  border: 1px solid #DFE3E9;
  box-shadow: none;
  width: 190px;
  border-radius: 4px;
}

.name-input:focus {
  outline: none;
}

.app-100 {
  width: 100% !important;
  padding-right: 10px;
}

.half-width {
  width: 48.5%;
}

.inpt-mask {
  margin-left: 10px;
}
