.page {
  background-color: #EFF3F6;
  height: 100%;
}

.flex-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.help-page {
  padding: 20px;
  border-radius: 4px;
  background: #ffffff;
}

.head-jc-sb {
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}
