.stats-for-un {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #DFE2E5;
}

.width70per {
  width: 70%;
}

.margin-l20 {
  margin-left: 20px;
}
