@import url('./page.css');

@import url('./layout/layout.css');
@import url('./layout/header.css');
@import url('./layout/sidenav.css');

@import url('./auth/registration.css');
@import url('./auth/login.css');
@import url('./auth/reset.css');

@import url('./pages/pages.css');
@import url('./pages/card.css');
@import url('./pages/table.css');
@import url('./pages/university.css');
@import url('./pages/landing.css');
@import url('./pages/profile.css');


@import url('./apply/page1.css');
@import url('./apply/steps.css');
@import url('./apply/done.css');
@import url('./apply/links.css');

@import url('./button.css');
@import url('./image.css');
@import url('./text.css');
@import url('./univer.css');

@import url('./chart.css');
@import url('./stats.css');

@import url('./inputs.css');
@import url('./dropdown.css');

@import url('./quest.css');

@import url('./modal.css');

@import url('./review.css');

/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

#root {
  height: 100%;
  box-sizing: border-box;
}

html, body {
  font-family: OpenSans-Regular;
  margin: 0;
  padding: 0;
  height: 100%;
}

body input {
  color: #354052;
  font-size: 14px;
  margin-top: 5px;
}

body textarea {
  color: #354052;
  font-size: 14px;
  margin-top: 5px;
}

body textarea {
  color: #354052;
  font-size: 14px;
}

.rekv {
  padding-top: 20px;
}

.rekv-h {
  text-align: center;
}

.padding-30 {
  padding: 30px 0;
}

.slick-list {
  margin-left: 40px!important;
}
