body, html, p, video, section {
  margin: 0;
  padding: 0
}

.main {
  width: 100%;
  min-height: 728px;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  position: relative ;
  background-color: #fff;
}
.main__bgi {
  height: 728px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  /* bottom: 0; */
}
.main__bgi img {
  width: 100%;
}
.main__inner {
  width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 1
}
.head {
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 2
}
.header__inner {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin:0 auto;
  box-sizing: border-box;
  padding: 0 115px;
}
.header__nav {
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.nav__link {
  margin-left: 40px;
  cursor: pointer;
}
.nav__link a {
  color: #fff;
  text-decoration: none
}
.main__inner_title {
  color: #ffffff;
font-size: 42px;
font-weight: 600;
text-align: center;
padding-top: 288px;
}
.main__inner_description {
  color: #ffffff;
  width: 70%;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px
}
.main__inner_description-2 {
  width: 70%;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px
}
.main__inner_form {
  display: flex;
  justify-content: center;
}
::placeholder {
  color: #fff
}
.main__inner_form input{
  border: none;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none
}
.main__inner_form input:focus{
  border: none;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  color: #fff
}
.first__input {
  width: 170px;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  margin-top: 0;
}
.second__input {
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 0;
}
.btn {
  background-image: linear-gradient(180deg, #f7981c 0%, #f76b1c 100%);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  width: 170px;
  cursor: pointer;
}
@media screen and (max-width: 1000px){
  .main__bgi {
    height: 670px;
    width: 120%;
    top: 0
  }
  .main__bgi img {
    height: 100%;
  }
  .main {
    overflow: hidden
  }
}
/*-------------------------------------------------------advantages-------------------------------------------------------------*/
.advantages {
  width: 100%;
  background-color: #fff;
  padding-top: 70px;
}
.advantages__inner {
  width: 1360px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 115px;
  margin: 0 auto;
}
.advantages__inner_title {
  /* margin-top: 70px; */
  color: #f05254;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px
}
.advantages__inner__description{
  color: #354052;
font-size: 30px;
font-weight: 600;
margin-bottom: 85px
}
.centr {
  text-align: center;
  margin-bottom: 0 !important;
}
.mb-70{
  margin-bottom: 70px;
  margin-top: 20px;
}
.advantages__inner_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
  margin-bottom: 100px
}
.wrapper__link {
  width: 300px
}
.wrapper__link_left {
  margin-right: 40px;
}
.wrapper__link_right {
  margin-left: 40px;
}
.icon-plh {
  width: 60px;
}
.wrapper__link_title {
  color: #354052;
font-size: 18px;
font-weight: 600;
margin: 30px 0 10px
}
.wrapper__link_description {
  color: #354052;
font-size: 16px;
font-weight: 400;
line-height: 30px;
}
@media screen and (max-width: 1000px){
  .advantages__inner {
    padding: 0 60px
  }
}
/*----------------------------------------------------------university----------------------------------------------------------*/
.university {
  background-color: #eff3f6;
}
.university__inner {
  width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 115px 115px;
}
.university__inner_top{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 70px
}
.university__inner_title{
  color: #354052;
  font-size: 30px;
  font-weight: 600;
}
.university__inner_btns {
  display: flex;
}
.red {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f05254;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.red img {
  width: 14px;
}
.university__inner_wrapper {
  display: flex;
}
.university__wrapper{
  background-color: #fff;
  width: 355px;
  box-sizing: border-box;
  margin-right: 35px;
  border-radius: 4px;
}
.university__name {
  margin: 25px 0 5px 35px;
  color: #354052;
  font-size: 16px;
  font-weight: 600;
}
.university__desc {
  display: flex;
  align-items: center;
  padding: 0 0 20px 35px;
  border-bottom: 1px solid #dfe2e5;
}
.university__city {
  margin-right: 5px;
  color: #7f8fa4;
  font-size: 12px;
  font-weight: 400;
}
.university__city_starts {
  margin-right: 10px
}
.university__info {
  display: flex;
  justify-content: space-between;
  padding: 25px 35px
}
.university__numb {
  color: #7f8fa4;
font-size: 12px;
font-weight: 400;
}
.numb {
  color: #354052;
  font-size: 14px;
  font-weight: 600;
}
.text {
  color: #7f8fa4;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px
}
@media screen and (max-width: 1300px){
  /* .university__wrapper {
    width: 30%;
  } */
  .university__img_main {
    width: 100%;
  }
  .university__wrapper:last-child {
    margin-right: 0
  }
}
/*-------------------------------------------------------Information------------------------------------------------------------*/
.information {
  width: 100%;
  /* background-image: url('../../images/widgets/bgi.png'); */
  height: 350px;
 /* background-repeat: no-repeat;
 background-size: cover;
 background-position: center; */
 position: relative;
}
.information__inner {
  width: 1360px;
  margin: 0 auto;
  z-index: 1
}
.information__bgi {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.information__bgi img{
  width: 100%;
}
/*-------------------------------------------------------students---------------------------------------------------------------*/
.students {
  width: 100%
}
.students__inner {
  width: 1360px;
  margin:  0 auto;
  display: flex;
  box-sizing: border-box;
  padding: 115px
}
.students__inner_img {
  display: flex;
  flex-flow: row wrap;
  /* width: 9px */
}
.students__inner_img img {
  width: 100px;
  height: 100px;
  border: 2px solid #eff3f6;
}
.students__inner_text {
  border: 2px solid #eff3f6;
  text-align: center;
}
.students__text {
  color: #354052;
  font-size: 28px;
  font-weight: 400;
  /* padding: 100px 60px 14px; */
  width: 174px;
  text-align: center;

}
.students__desc {
  color: #354052;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 45px
}
.students__btn {
  background-image: linear-gradient(to top, #1991eb 0%, #2da1f8 100%);
  outline: none;
  border: none;
  border-radius: 4px;
  width: 170px;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;cursor: pointer;
}
@media screen and (max-width: 1300px){
  .mini__img {
    width: 11.6% !important;
    height: 17% !important;
  }
  .students__text {
    padding: 35px  60px  14px
  }
  .students__inner_img {
    align-items: center
  }
}
/*------------------------------------------------------------logos-------------------------------------------------------------*/
.logos {
  width: 100%;
  background-color: #eff3f6;
}
.logos__inner {
  width: 1360px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 70px 115px
}
.logos__inner img {
  height: auto;
}
/*--------------------------------------------------------footer---------------------------------------------------------------*/
.footer{
  width: 100%;
  background-color: #1b2431;
}
.footer__inner {
  width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 115px;
  display: flex;
  justify-content: space-between;
}
.footer__inner_text {
  color: #ffffff;
font-size: 12px;
font-weight: 400;
line-height: 20px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social img {
  margin-right: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.footer__social_text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}
.footer__inner_info {
  text-align: right;
  color: #fff;
  font-size: 12px;
}
.footer__inner_info span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
/*---------------------------------------------------information---------------------------------------------------------------*/

/*------------------------------------------------------adapt------------------------------------------------------------------*/
@media screen and (max-width: 1360px){
  .header__inner,
  .main__inner,
  .advantages__inner,
  .university__inner,
  .information__inner,
  .students__inner,
  .logos__inner,
  .footer__inner {
    width: 100%
  }
}

/*--------------------------------------------------------charts---------------------------------------------------------------*/
.land-charts {
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.stats-text-l {
  padding: 5px 10px;
  box-sizing: border-box;
  height: 50px;
  align-items: center;
  text-align: center;
  position: relative;
}

.inner-text-pie {
  color: #ffffff;
  font-size: 24px;
  position: relative;
}

.stat-text-m-l {
  color: #E2E7EE;
  font-size: 18px;
}
