.table {
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  color: #7F8FA4;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid #DFE2E5;
}

.table-wrapper {
  display: inline-block;
  width: 61%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.table-p {
  width: 50%;
  background-color: #ffffff;
  border-radius: 4px;
  color: #7F8FA4;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid #DFE2E5;
}

.table tr {
  height: 60px;
}

.table tr td {
  padding-left: 25px;
  border-bottom: 1px solid #DFE2E5;
}

.table-p tr {
  height: 60px;
}

.table-p tr td {
  padding-left: 25px;
  border-bottom: 1px solid #DFE2E5;
}

.caption {
  padding: 10px 10px 10px 0;
  text-align: left;
}

.spec-name {
  max-width: 195px;
  min-width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spec-code {
  max-width: 115px;
  min-width: 115px;
}

.spec-app {
  max-width: 140px;
  min-width: 140px;
}

.jc-fl {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}
